language: php

sudo: false

php:
  - "7.1"
  - "7.0"
  - "5.6"
  - "5.5"

before_script:
  - composer self-update
  - composer install --dev --no-interaction

script:
  - mkdir -p build/logs
  - phpunit

after_script:
  - php vendor/bin/coveralls
