language: php

sudo: false

php:
  - 7.3
  - 7.2

env:
  - LARAVEL_VERSION=5.5.*
  - LARAVEL_VERSION=5.8.*
  - LARAVEL_VERSION=6.0.*

matrix:
  fast_finish: true

before_script:
  - travis_retry composer self-update
  - travis_retry composer install --prefer-source --no-interaction
  - if [ "$LARAVEL_VERSION" != "" ]; then composer require --dev "laravel/laravel:${LARAVEL_VERSION}" --no-update; fi;
  - composer update

script:
  - mkdir -p build/logs
  - vendor/bin/phpunit

after_success:
  - travis_retry php vendor/bin/php-coveralls -v
